[submodule "xgboost"]
	path = xgboost
	url = https://github.com/yananlong/xgboost
	branch = rocm/gfx1100-wave-size
[submodule "LightGBM"]
	path = LightGBM
	url = https://github.com/AMD-Ecosystem/LightGBM
	branch = release/4.6.0.99
[submodule "ThunderGBM"]
	path = ThunderGBM
	url = https://github.com/AMD-Ecosystem/ThunderGBM
	branch = release/0.3.16
